<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<title>Listagem de produtos</title>
</head>
<body>
	<div class="container">
		<div class="card" th:each="produtos : ${produtos}">
			<div class="card-header" th:text="${produtos.nome}"></div>
			<div class="card-body">
				<div class="row">
					<div class="col">
						
					</div>
				</div>
			</div>
		
		</div>
	</div>
	<div th:each="produtos : ${produtos}">
		<h1 th:text="${produtos.nome}">Nome produto</h1>
		<h2 th:text="${produtos.preco}">Preço</h2>
		<p th:text="${produtos.descricao}">Descrição</p>
		<p th:text="${produtos.quantidade}">Quantidade</p>
		<img alt="Imagem do produto" th:src="${produtos.urlImagem}">
	</div>
	
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>