* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.container {
    width: 100%;
}

.nav-bar {
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;
}

.nav-bar .logo img {
    width: 70px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.nav-bar .links_paginas ul {
    display: flex;
    text-align: center;
    list-style-type: none;
}

.nav-bar ul li a {
    padding: 20px;
    color: white;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    color: #ffbb00;
    font-size: 20px;
    text-shadow: 1px 0.5px 20px #ffbb00;

}

.cursos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cursos h2 {
    display: block;
    width: 100%;
}

.curso {
    padding: 20px;
}

.curso h1 p {
    text-align: justify;
}

.curso .logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
     
}

.curso .logo img {
    width: 190px;
    padding: 20px;
    border-radius: 30px;
 
}

footer {
    padding: 20px 0;
    margin: 10px 0 5px 0;
    background-color: #ccc;
    text-align: center;
}