* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


.nav-bar {
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;
}

.nav-bar .logo img {
    width: 70px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.nav-bar .links_paginas ul {
    display: flex;
    text-align: center;
    list-style-type: none;
}

.nav-bar ul li a {
    padding: 20px;
    color: white;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    color: #ffbb00;
    font-size: 20px;
    text-shadow: 1px 0.5px 20px #ffbb00;

}

.container-cursos {
    width: 100%;

}

.container-cursos h1 {
    margin: 20px;
}

.cursos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.curso {
    padding: 20px;
    text-align: center;
}

.curso h2 {
    padding: 10px;
}

.curso p {
    padding: 10px;
    text-align: justify;
}

.curso .logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.curso .logo img {
    width: 190px;
    padding: 20px;
    border-radius: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(5, 5, 5);
    text-align: center;
    color: #ffbb00;
}

/* Página de contato */

.mensagem {
    background-color: #ffbb00;
}

.mensagem h1 {
    padding: 50px 0 50px 0;
    width: 100%;
    text-align: center;
}

.container-formulario {
    position: relative;
    left: 40%;
    top: 50%;
    width: 400px;
    height: 500px;
    background-color: #ffbb00;
    border-radius: 10px;
}

.container-formulario .formulario {
   margin-left: 25px;
   margin-top: 80px;
   padding-top: 25px;
    
}

.container-formulario h3 {
    margin-top: 10px;
}

.container-formulario .formulario button {
    margin-right: -25px;
}